{#
/**
 * vote-condensed.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - result: Result string.
 * - condesed: Condensed string.
 * - icon: The icon id string.
 *
 * @see template_preprocess_vote_condensed()
 */
#}
<span{{ attributes.addClass('vjsr--condensed--widget') }}>
  <span class="vjsr-icon">{{ icon }}</span>
  <span class="vjsr--condensed--widget--result">{{ condensed }}</span>
</span>
