{#
/**
 * vote-plugin.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the vote type items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_vote_plugin()
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  label_display == 'inline' ? 'clearfix',
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_display == 'hidden' %}
  <div{{ attributes.addClass(classes, 'field__items') }}>
    <div class="vjsr--summary">
      <div class="vjsr--condensed--widgets">
        {% for item in items %}
          {{ item }}
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div{{ field_attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    <div{{ attributes.addClass('field__items') }}>
      <div class="vjsr--summary">
        <div class="vjsr--condensed--widgets">
          {% for item in items %}
            {{ item }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
